html {
  font-family: 'Courier New', Courier, monospace;
}



.post-pic {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.post-details {
  margin-left: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.avatar-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.logout {
  margin-left: 1125px;
  margin-top: -60px;
  position: absolute;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-color: #fafafa;
  color: #262626;
  padding-bottom: 3rem; 
}

body > *  {
  margin: auto;
  width: 1200px;
  display: block;
  overflow: auto;
}

img {
  display: block;
}

.container-fluid {
  justify-content: center;
}

.nav-btn{
  margin-left: 10px;
  margin-right: 300px;
}

.navbar > *{
  margin-left:125px;
  margin-right:125px;
}

.navbar {
  color: rgb(255, 255, 255);
}

.search {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: black;
  overflow: hidden;
  overflow-y: auto;
}

.search::-webkit-scrollbar {
  display: none;
}

.search .search-input {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.search-input:hover {
  background-color: lightgray;
}

.searched-pic {
  width: 300px;
  height: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-title{
  margin-top: 20px;
  font-size: 40px;
  font-style: bold;
  font-weight: 1000;
  margin-left: 20px;
}

.header {
  background-color: rgb(210, 210, 210);
  position: relative;
  border-radius: 10px;
}

.like-btn {
  transition: all .3s;
  border-radius: 10px;
}

.like-btn:hover {
  color: white;
  background-color: green;
}

.delete-post-btn {
  transition: all .3s;
}

.delete-post-btn:hover {
  color: white;
  background-color: red;
}

.edit-post-btn {
  transition: all .3s;
}

.edit-post-btn:hover {
  background-color: black;
  color: white;
}

.card {
  transition: all .3s;
}

.card:hover {
  background-color:  rgb(239, 239, 239);
}

.username-link {
  color: black;
  font-size: 40px;
  transition: all .3s;
}

.username-link:hover {
  color: green
}

.tags-post {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -20px;
}