html {
  font-family: 'Courier New', Courier, monospace;
}

.post-btns {
  position: absolute;
}

.post-pic {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-top: -220px;
  margin-left: 550px;
  position: absolute;
  border: line;
}

.post-details {
  margin-left: 20px;
}

.post-title {
  margin-top: -100px;
  margin-left: -70px;
  position: absolute;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar-comment {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  
}

.logout {
  margin-left: 1125px;
  margin-top: -60px;
  position: absolute;
  transition: all .3s;
}

.logout:hover {
  color: white;
  background-color: red;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  background-color: rgb(205, 226, 254);;
  color: #262626;
  padding-bottom: 3rem; 
}

body > *  {
  margin: auto;
  width: 1200px;
  display: block;
  overflow: auto;
}

img {
  display: block;
}

.container-fluid {
  justify-content: center;
}

.nav-btn{
  margin-left: 10px;
  margin-right: 300px;
}

.navbar > *{
  margin-left:125px;
  margin-right:125px;
}

.navbar {
  color: rgb(255, 255, 255);
}

.search {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: black;
  overflow: hidden;
  overflow-y: auto;
}

.search::-webkit-scrollbar {
  display: none;
}

.search .search-input {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.search-input:hover {
  background-color: lightgray;
}

.searched-pic {
  width: 300px;
  height: 300px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.app-title{
  margin-top: 20px;
  font-size: 40px;
  font-style: bold;
  font-weight: 1000;
  margin-left: 20px;
}

.header {
  background-color: rgb(210, 210, 210);
  position: relative;
  border-radius: 10px;
}

.like-btn {
  transition: all .3s;
  border-radius: 10px;
  margin-bottom: 60px;
  margin-right: 40px;
  position: absolute;
}

.like-btn:hover {
  background-color: green;
}

.delete-post-btn {
  transition: all .3s;
}

.delete-post-btn:hover {

  background-color: red;
}

.edit-post-btn {
  transition: all .3s;
}

.edit-post-btn:hover {
  background-color: black;

}

.card {
  transition: all .3s;
}

.card:hover {
  background-color:  rgb(239, 239, 239);
}

.username-link {
  color: black;
  font-size: 30px;
  transition: all .3s;
  position: absolute;
  margin-top: -80px;
  margin-left: 120px;
}

.username-link:hover {
  color: green
}

.tags-post {
  display: flex;
  margin-left: 550px;
  margin-top: -250px;
  margin-bottom: -20px;
  position: absolute;
}

.tag-input {
  position: absolute;
  margin-top: -130px;
  margin-left: -20px;
  
}

.upload-btn {
  transition: all .3s;
}

.upload-btn:hover {
  background-color: rgb(114, 174, 253);
}

.see-posts-btn {
  border-radius: 10px;
  transition: all .3s;
  margin-bottom: 20px;
  width: 70px;
  margin-left: 20px;
}

.see-posts-btn:hover {
  background-color: rgb(114, 174, 253);
}

.comment-like-btn {
  width: 32px;
  height: 30px;
 
  margin-left: px;
}

.comment-like-btn:hover {
  background-color: green;
}

.comment-reply-btn {
  width: 150px;
  transition: all .3s;
}

.comment-reply-btn:hover {
  background-color: rgb(114, 174, 253);
}

.comment-edit {
  transition: all .3s;
}

.comment-edit:hover {
  background-color: black;

}

.comment-delete {
  transition: all .3s;
}

.comment-delete:hover {
  background-color: red;
}

.comment-buttons {
  display: flex;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.liked-this {
  color: rgb(114, 174, 253);
  font-size: 20px;
  margin-left: 50px;
  margin-top: -20px;
}

.comment-liked-this {
  color: rgb(114, 174, 253);
  font-size: 20px;
  margin-left: 50px;
  margin-top: -20px;
}

.avatar-post {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 40px;
}

.see-comments {
  transition: all .3s;
  margin-bottom: 20px;
}

.see-comments:hover {
  background-color: rgb(114, 174, 253);
}

.add-comment-btn {
  transition: all .3s;
}

.add-comment-btn:hover {
  background-color: green;
}

.username-profile {
  position: absolute;
  font-size: 40px;
  margin-top: -140px;
  margin-left: 230px;
}

.tags-search {
  display: flex;
  margin-top: -10px;
  margin-bottom: 10px;
}

.tag {
  margin-left: 5px;
  margin-bottom: -5px;
  margin-top: -15px;
}

.tag-post {
  margin-left: 5px;
}

.card {
  margin-bottom: 30px;
}

.follow-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.follow-username {
  position: absolute;
  margin-top: -50px;
  margin-left: 70px;
}

.comment-user-reply {
  position: absolute;
  margin-top: 75px;
  margin-left: 70px;
  color: black;
}

.comment-user {
  position: absolute;
  margin-top: -30px;
  margin-left: 70px;
  color: black;
}

.comment-reply {
  margin-left: 30px;
  margin-top: 30px;
  width: 800px;
}

.comment-text-box {
  width: 950px;
  margin-left: 40px;
  margin-top: 20px;
}

.comment-text {
  margin-left: 10px;
  margin-top: 10px;
}

.search-title-post {
  font-size: larger;
  margin-bottom: 30px;
}

.comment-reply-box {
  width: 700px;
  margin-left: 40px;
  margin-top: 20px;
}

.comment-reply-text {
  margin-top: 10px;
  margin-left: 10px;
}

.reply-liked-this {
  color: rgb(114, 174, 253);
  margin-left: 50px;
  margin-top: -20px;
}

.liked-this {
  color: rgb(114, 174, 253);
  font-size: 20px;
  margin-left: -20px;
  margin-top: -0px;
}

.comment-add {
  transition: all .3s;
}

.comment-add:hover {
  background-color: green;
}

.post-header-profile {
  font-size: 80px;
  font-style: italic;
}

.conversation-avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}

.conversation-user {
  position: absolute;
  margin-top: -80px;
  margin-left: 120px;
  font-size: 40px;
}

.user-routes {
  margin-bottom: 500px;
}

.like-and-title {
  display: flex;
}

.editted {
  color: red;
}

.like-post-card {
  margin-top: -30px;

}